body {
    background-color: lightgray;
}

div {
    border: 1px solid blue;
    background-color: antiquewhite;
}

span {
    background-color: yellow;
}

p {
    background-color: burlywood;
}

div div {
    border: 1px dashed darkred;
}
